/* ------------------- monteserrat fonts ------------------- */
@font-face{
    font-family: monty;
    src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

/* ------------------- moondance fonts ------------------- */
@font-face{
    font-family: "moon dance";
    src: url('/fonts/Moon_Dance/MoonDance-Regular.ttf');
}

/* ------------------- monteserrat fonts ------------------- */
@font-face{
    font-family: "Rowdies";
    src: url('/fonts/Rowdies/Rowdies-Regular.ttf');
}

/* ------------------- monteserrat fonts ------------------- */
@font-face{
    font-family: "Rowdies Light";
    src: url('/fonts/Rowdies/Rowdies-Light.ttf');
}

